VITE_FIREBASE_API_KEY=AIzaSyCX8eHF1kWRXubvwDh9gQ5303Cd_6Ajvrk
VITE_FIREBASE_AUTH_DOMAIN=web-allianz.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=web-allianz
VITE_FIREBASE_STORAGE_BUCKET=web-allianz.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=618610590568
VITE_FIREBASE_APP_ID=1:618610590568:web:d41d8cf9679f05f67a0cdd
